<!DOCTYPE html>
<html lang="pt-br">

<head> <!--cabecalho-->
  <meta charset="utf-8">
  <link rel="stylesheet" href="materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="materialize.min.js"></script>
  <script src="angular.min.js"></script>
  <script src="js/app.js"></script>
  <title>Gerador de Filmes</title>
</head>

<body ng-app="filmeApp">  <!--corpo-->
    <div ng-controller="FilmeCtrl">
      <nav class="light-blue lighten-1" role="navigation">
          <div class="nav-wrapper container">
              <a id="logo" href="#" class="brand-logo">Logo</a>
              <ul class="right">
                <li><a href="#">Home</a></li>
              </ul>
          </div>
      </nav>
      <div class="row" ng-init="pegarPosts()">
          <div class="col m4">
              <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                      <span class="card-title">Postar</span>
                      <input type="text" ng-model="nome">
                      <textarea ng-model="texto"></textarea>
                  </div>
                  <div class="card-action">
                      <a href="#" ng-click="postar()">Postar</a>
                  </div>
              </div>
          </div>
          <div class="col m8">
              <div class="card light-blue lighten-1">
                  <div class="card-content white-text">
                      <span class="card-title">Nome do Usuario</span>
                      <h4>Texto do usuario</h4>
                  </div>
              </div>
          </div>
      </div>
    </div>

</body>

</html>
